apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: rescrape-prep
  namespace: vertex-ai-scraper-project    # or project number, both work
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/maxScale: "20"
        run.googleapis.com/startup-cpu-boost: "true"
    spec:
      containerConcurrency: 80
      timeoutSeconds: 300
      containers:
        - name: rescrape-prep
          image: us-east4-docker.pkg.dev/vertex-ai-scraper-project/cloud-run-source-deploy/rescrape-prep:latest
          ports:
            - name: http1
              containerPort: 8080
          resources:
            limits:
              cpu: 1000m
              memory: 512Mi
