apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: filter-url
  namespace: vertex-ai-scraper-project    # or project number, both work
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/maxScale: "20"
        run.googleapis.com/startup-cpu-boost: "true"
    spec:
      serviceAccountName: 677825641273-compute@developer.gserviceaccount.com
      containerConcurrency: 80
      timeoutSeconds: 300
      containers:
        - name: filter-url
          image: us-east4-docker.pkg.dev/vertex-ai-scraper-project/cloud-run-source-deploy/filter-url:latest
          ports:
            - name: http1
              containerPort: 8080
          resources:
            limits:
              cpu: 1000m
              memory: 512Mi
